<h1>Locations</h1>
<br />
<% @locations.each do |location| %>
  <b>Address:</b> <%= location.address %>
  <br />
  <b>Latitude:</b> <%= location.latitude %>
  <br />
  <b>Longitude:</b> <%= location.longitude %>
  <br />
  <%= link_to "View", location %>
  <br />
  <br />
<% end %>
<br />
<br />
<%= link_to "New", new_location_path %>
