<h2><%= @location.address %></h2>
<br />
Latitude: <%= @location.latitude %>
<br />
Longitude: <%= @location.longitude %>
<br />
<br />
<b>Nearby Locations:</b>
<ul>
<% @location.nearbys(10).each do |nearby| %>
  <li><%= link_to nearby.address, nearby %> (<%= nearby.distance.round(2) %> miles) </li>
<% end %>
</ul>
<br />
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@location.latitude}%2C#{@location.longitude}" %>
<br />
<%= link_to "Home", root_path %>
